#root,html,body{
  margin:0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}
.container{
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('https://1.bp.blogspot.com/-_NVPT4_UIH4/X5-KvuqjLNI/AAAAAAAA_e4/rbsr1Z_C3jM2QdD2HZebogB6M3dayurRACLcBGAsYHQ/s3840/loneliness_alone_sunset_188916_2560x1440.jpg');
  background-size:cover;
    background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: changeBackground 20s infinite;
}
.card{
 
  background-color: whitesmoke;
  border-radius: 1vh;
  min-width: 20%;
  min-height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 8px 8px;
  opacity: 0.5;
  
}
.button:hover{

background-color: aqua;
}
.heading{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 30%;
}
.button{
  border-radius: 10px;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 10px;
  margin-bottom: 20px;
  
}